.link-item {
  text-decoration: none;
}
.job-item {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  padding: 25px;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
}
.logo-location-title-container {
  display: flex;
  flex-direction: column;
}
.logo-title-container {
  display: flex;
  align-items: center;
}
.company-logo {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}
.title-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #ffffff;
}
.rating-container {
  display: flex;
  align-items: flex-end;
  padding-top: 0px;
}
.rating-icon {
  color: #fbbf24;
  font-size: 18px;
  margin-right: 10px;
}
.rating-count {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto';
}
.location-package-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.location-employment-container {
  display: flex;
  flex-direction: row;
}
.location-container {
  display: flex;
  align-items: center;
  padding-left: 5px;
  margin-right: 10px;
}
.location-icon {
  color: #ffffff;
  font-size: 22px;
  margin-right: 8px;
}
.location-heading {
  font-size: 15px;
  font-family: 'Roboto';
  color: #ffffff;
}
.employment-container {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.brief-case-icon {
  color: #ffffff;
  font-size: 22px;
  margin-right: 8px;
}
.employment-type-heading {
  font-size: 15px;
  font-family: 'Roboto';
  color: #ffffff;
}
.package-heading {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #ffffff;
}
.line {
  color: #cbd5e1 solid;
  width: 100%;
}
.description-heading {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #ffffff;
}
.description-text {
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #ffffff;
}
